.user {
    display: inline;
    margin-left: 10px;
}

input[id="addUser"] {
    height: 24px;
    margin-bottom: 20px;
}

.accordion2 {
    font-size: 12pt;
    font-weight: normal;
    background-color: #EDECEB;
    border: 2pt solid #fd8204;
    padding: 10px;
}

select[id="user"] {
    min-width: 100px;
}

@media (max-width: 500px) {
    .userAccordion * {
        font-size: 16pt;
      }
}