.dashboard {
    text-align: left;
    padding-left: 10%;
}

.accordion__item {
    cursor: pointer;
}

.viewItems {
    background-color: #EDECEB;
    border: 2pt solid #fd8204;
    padding-top: 15px;
}

.dashboard_heading {
    font-size: 18px;
    border: 2pt solid #fd8204;
    padding: 10px;
    margin-top:10px;
}

.dashboard_heading:hover, .dashboard_heading:focus {
    background-color: #fd8204;
    color: white;
}

.accordion__button {
    outline-offset: 5px;
}
