.user {
    display: inline;
    margin-left: 10px;
}

.accordion__heading {
    font-size: 12pt;
    font-weight: bolder;
    background-color: lightgrey;
    border: 2pt solid white;
    padding: 10px;
}