.item {
    margin: 15px
}

.accordion__heading {
    font-size: 12pt;
    font-weight: bolder;
    background-color: lightgrey;
    border: 2pt solid white;
    padding: 10px;
}

.addForm {
    display: inline;
}

.addFormContainer {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: table;
    width: auto;
}

table label {
    text-align: right;
}

table input, table select {
    text-align: left;
}

select[id="category"] {
    width: 100%;
}

select[id="item"] {
    min-width: 135px;
}

@media (max-width: 500px) {
    .inventoryAccordion * {
        font-size: 16pt;
      }
    
    select[id="item"] {
        margin-top: 15px;
    }

    .left {
        text-align: left;
    }
    
    .addFormContainer input {
        padding: 0;
        width: 100%;
    }
}