.item {
    margin: 15px
}

.accordion__heading {
    font-size: 12pt;
    font-weight: bolder;
    background-color: lightgrey;
    border: 2pt solid white;
    padding: 10px;
}

.addForm {
    display: inline;
}

.addFormContainer {
    margin: auto;
    display: table;
}

select[id="category"], select[id="item"] {
    min-width: 138px;
}

@media (max-width: 500px) {
    .inventoryAccordion * {
        font-size: 16pt;
      }
    
      select[id="item"] {
          margin-top: 15px;
      }
}