.App {
  text-align: center;
}

.App_header {
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  background-color: lightgrey;
  width: 100%;
  z-index: 1;
}

.admin {
  position: absolute;
  right: 10px;
  top: 30px;
}

.App_main {
  position: relative;
  top: 79px;
  background-color: silver;
  padding: 20px;
}

body {
  background-color: silver;
}
