fieldset {
    margin: 15px 0;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.flexField {
  margin-top: 10px;
  width: 45%;
}

li {
  list-style: none;
  padding: 5px;
}

input[type="checkbox"] {
  opacity: 0;
  cursor: pointer;
}

label {
  cursor: pointer;
  display: block;
}

.quantity {
    visibility: hidden;
}

input[type="checkbox"]:checked + label {
  border: 2pt solid #fd8204;
}

input[type="checkbox"]:focus + label {
  outline: white auto 5px;
}

input[type="checkbox"]:checked ~ div {
    visibility: visible !important;
}

img {
  display: block;
  width: 75px;
}