.checkForm {
    padding-top: 50px;
  }

.namesFieldset {
  padding: 15px 20px 20px;
}

select {
  font-size: 14px;
  min-width: 50px;
}

.names {
  min-width: 125px;
}

legend {
  font-size: 18px;
}

.fieldsetFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 500px) {
  .fieldsetFlex {
    display: block;
  }

  .checkForm * {
    font-size: 16pt;
  }
}